header{
  border-bottom: 3px solid #030303 ;

  .logo_img{
    width: 53px;
    height: 53px;
  }
  .search-group ::-webkit-input-placeholder 
  { 
    font-size: 16px;
    padding-left: 24px;
  }

  .hover a:hover{
    color: #9C9E18;
  }
}