.activities-title{
    padding: 24px 32px;
    h2{
      font-size: 64px;
      @media(max-width:768px){
        font-size: 24px;
      }
    }
    h5{
      font-size: 32px;
      @media(max-width:768px){
        font-size: 16px;
      }
    }
  }

  .tags{
    a{
      position: relative;
      padding: 4px 24px;
      border: 2px solid black;
      border-left: 4px solid black;
    }
    
    a:hover{
      background: black;
      color: white;
    }
    a:hover::before{
      position: absolute;
      content: "";
      top: -2px;
      left: -4px;
      width: 4px;
      height: 36px;
      background-color: #FBFF22;
    }
  }

  nav{
    a:hover{
        color: #FBFF22 !important;
        background-color: #030303 !important;
    }
  }

  article{
    background-color: #EBEAE8;
  }