.carousel-main-caption{
    position: absolute;
    top:48px;
    left: 48px;
    padding-top:0;
    padding-bottom: 0;
    color: #fff;
    text-align: start;

    @media(max-width:768px){
      .fs-15{
        font-size: 32px !important;
      }
    }
}

.carousel-caption{
  @media(max-width:768px){
    .fs-6{
      font-size: 18px !important;
    }
  }
}