.banner{
  h6{
    font-size: 48px !important;
    font-weight: 400;
  } 

  .title{
    @media(max-width:992px){
        flex-direction:row !important;
    }
  }

  @media(max-width:992px){
    .title-4{
      width: 50% !important;
    }
    .title-8{
      flex-direction:row !important;
      justify-content: space-around !important;
      height: auto !important;
      padding: 12px 24px !important;
    }
  }

}
   

.content{
    h2{
        letter-spacing: 4px ;
    }
}

.activities-title{
    padding: 24px 32px;
    h2{
      font-size: 64px;
      @media(max-width:768px){
        font-size: 24px;
      }
    }
    h5{
      font-size: 32px;
      @media(max-width:768px){
        font-size: 16px;
      }
    }
}

table{
  a:hover{
    color: #FBFF22;
    background-color: #030303;
  }
}
