<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./layout/font-family'); -%>
    <%- include('./layout/google-icon')-%>
    <%- include('./layout/icofont')-%>
    <title>結帳完成</title>
</head>
<body>
    <%- include('./layout/header'); -%>
    <div class="container pt-md-15 pt-6">
        <div class="row">
            <div class="col-md-6 mx-auto">
                <!-- 進度條 -->
                <ol class="step list-unstyled d-flex justify-content-between position-relative mb-6 mb-md-12">
                    <li class="d-flex flex-column align-items-center">
                        <h6 class="ff-Noto-Serif-TC text-center pt-3 pb-3 border border-2 border-primary bg-primary text-secondary fs-5">1</h6>
                        <p>訂單確認</p>
                    </li>
                    <li class="d-flex flex-column align-items-center">
                        <h6 class="ff-Noto-Serif-TC text-center pt-3 pb-3 border border-2 border-primary bg-primary text-secondary fs-5">2</h6>
                        <p>結帳付款</p>
                    </li>
                    <li class="d-flex flex-column align-items-center">
                        <h6 class="ff-Noto-Serif-TC text-center pt-3 pb-3 border border-2 border-primary bg-primary text-secondary fs-5">3</h6>
                        <p>訂購結果</p>
                    </li>
                </ol>

                <!-- 訂購成功標題 -->
                <div class="d-flex flex-column align-items-center mb-8">
                    <i class="icofont-check-circled fs-12 mb-4"></i>
                    <h5 class="fw-bold mb-0 fs-8">訂購成功</h5>
                </div>

                <!-- 表格 -->
                <table class="table border-primary mb-4">
                    <tbody class="border-top border-3 border-primary">
                      <tr>
                        <th scope="row">訂單編號</th>
                        <td class="text-end ff-Noto-Sans-TC">892746123</td>
                      </tr>
                      <tr>
                        <th scope="row">訂購時間</th>
                        <td class="text-end ff-Noto-Sans-TC">2023/04/28 14:30</td>
                      </tr>
                      <tr>
                        <th scope="row">票券</th>
                        <td class="text-end ff-Noto-Sans-TC">改頭換面票（含大改造）$8000</td>
                      </tr>
                      <tr>
                        <th scope="row">取票序號</th>
                        <td class="text-end ff-Noto-Sans-TC "><span style="color: #C96464;">95G54J4434</span></td>
                      </tr>
                      <tr>
                        <th scope="row">取票號碼</th>
                        <td class="text-end ff-Noto-Sans-TC"><span style="color: #C96464;">04597101</span></td>
                      </tr>
                    </tbody>
                </table>

                <!-- 叮嚀 -->
                <p class="ff-Noto-Sans-TC mb-md-15 mb-12">
                    請至 7-Eleven 完成取票，請於 ibon 點選【購票/取票/訂房】>【售票系統】>【取票】>【拓元售票系統】。<br>
                    若您未前往取票，本筆交易仍視為完成，不可取消訂單。<br>
                    若需退票，請按照退票辦法進行申請。
                </p>
            </div>
        </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script  type="module" src="../main.js"></script>
</body>
</html>