<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./layout/font-family'); -%>
    <%- include('./layout/google-icon')-%>
    <%- include('./layout/icofont')-%>
    <%- include('./layout/jQuery-CDN'); -%>
    <title>會員登入</title>
    
   
    <!-- <style>
        /* 通過驗證樣式 */
        .was-validated .form-control:valid,
        .was-validated .form-control:valid:focus {
        border-color: #0d6efd;
        box-shadow: none;
        }
        /* 未通過驗證樣式 */
        .was-validated .form-control:invalid,
        .was-validated .form-control:invalid:focus {
        background-color: #000;
        }
    </style> -->
</head>
<body>
    <%- include('./layout/header'); -%>
    <div class="container pt-md-15 pt-6 pb-md-40 pb-40">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="d-flex flex-column align-items-center mb-4">
                    <img class="wh-8 d-block mb-4" src="../assets/images/sparkler.png" alt="logo">
                    <h5 class="fw-bold mb-0 fs-6">會員登入</h5>
                </div>
                
                <!-- 在 form 標籤加入 novalidate 屬性，來消除瀏覽器預設的回饋視窗 -->
                <form action="" class="w-100 needs-validation" novalidate>
                    <div class="mb-4">
                        <label for="useraccount" class="form-label d-block fs-4 ff-Noto-Sans-TC">帳號</label>
                        <input class="fs-5 form-control border border-2 border-primary w-100 ff-Noto-Sans-TC" type="text" id="useraccount" placeholder="請輸入帳號" required>
                        <div class="invalid-feedback fs-5">請輸入帳號</div>
                    </div>
                    
                    <div class="mb-6 mb-md-8">
                        <label for="userpassword" class="form-label d-block fs-4 ff-Noto-Sans-TC ">密碼</label>
                        <input class="fs-5  form-control border border-2 border-primary w-100 ff-Noto-Sans-TC" type="text" id="userpassword" placeholder="請輸入密碼" required>
                        <div class="invalid-feedback fs-5">請輸入密碼</div>
                    </div>
                   
                   
                    <div class="d-flex justify-content-center align-items-center mb-4">
                        <button type="submit" class="fs-5 btn btn-primary d-block col-12 pt-2 pb-2 hover-primary">
                            登入
                            <span class="material-icons-two-tone align-text-bottom">
                                keyboard_double_arrow_right
                            </span>
                        </button>
                    </div>
                    <script>
                        $(".needs-validation").each(function (index) {
                            $(this).on("submit", function (e) {
                                e.preventDefault();
                                $(this).addClass("was-validated");
                            });
                        });
                    </script>
    
                </form>



            </div>
        </div>
    </div>
    <%- include('./layout/footer'); -%>
    <script  type="module" src="../main.js"></script>
</body>
</html>